apiVersion: extensions/v1beta1
kind: Service
metadata:
  name: postgres
spec:
  ports:
    - name: db
      protocol: TCP
      port: 5432
      targetPort: 5432
  selector:
    app: postgres
    tier: backend